$light: #fff;
$dark: #0c0d0d;

.Home {
  position: relative;
  height: 100vh;
  background: linear-gradient(to top left, #6f553a 50%, #c9ae77);
  display: flex;
  justify-content: space-between;
  align-items: center;

  .columnLeft {
    h2 {
      color: $light;
      margin: 2rem;
      font-size: xx-large;
    }
  }

  .columnRight {
    padding: 2rem;

    img {
      height: 100%;
      width: 100%;
    }
  }

  h6 {
    font-style: italic;
    padding: 0.2rem;
  }

  .arrow {
    position: absolute;
    width: 100%;
    bottom: 0;
    text-align: center;
    padding: 1.5rem;
  }

  .cards {
    background: linear-gradient(to bottom, #f0f5fd 50%, rgb(230, 227, 227));
  }
}
