$light: #fff;
$dark: #0c0d0d;

.navbar {
  position: absolute;
  height: 10vh;

  ul {
    display: flex;

    li {
      list-style: none;
      margin: 2rem 1rem 0 2rem;
      font-size: 1.1rem;

      a {
        color: $dark;
        text-decoration: none;
        font-weight: bold;
      }

      &:hover {
        border-bottom: 0.1rem solid $dark;
        cursor: pointer;
      }
    }
  }
}
