$light: #fff;
$dark: #0c0d0d;

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  height: 10vh;
  width: 100%;
  background: linear-gradient(to left, #6f553a 50%, #c9ae77);
  z-index: 5;

  ul {
    display: flex;

    li {
      list-style: none;
      margin: 2rem 1rem 0 2rem;
      font-size: 1.1rem;

      a {
        color: $light;
        text-decoration: none;
        font-weight: bolder;
      }

      &:hover {
        border-bottom: 0.1rem solid $dark;
        cursor: pointer;
      }
    }
  }
}
